<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <php>
        <env name="STRIPE_KEY"
             value="pk_test_51KQpcOHTfz9fZdBGCdoGJasWleGryovpwOQIXMFM2jdH0jVt5B2nBb3V23G7flNnoY3nTy4pLw1p8UHofFlyAzRW00BoW8SRU4"/>
        <env name="STRIPE_SECRET"
             value="sk_test_51KQpcOHTfz9fZdBGKcgb6cack8GiLTpT82e46z8XFdzArDy7gmuBluwIS54vI0snApzYtfwektKuvkOwvwc81zMa00YDVfPFPs"/>
    </php>
</phpunit>
