<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <php>
        <env name="STRIPE_KEY"
             value="pk_test_51L1UzHJmj5aJXUxxibodG0qrSHrzIqvP9l4j73A42kZfqu6jutv4IR8x5uIVhh2CDJuaSlj1wesglIXe891r76Kn00XigOqowy"/>
        <env name="STRIPE_SECRET"
             value="sk_test_51L1UzHJmj5aJXUxxprnas3I3wTTawo9vDlnuFvCJlEFYaUctvHMyudtVSmsjB39cPWlyCKs0LL3utpNAQ5vtbulm00KKzkTE0D"/>
    </php>
</phpunit>
